html,
body {
  padding: 0;
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, Segoe UI, Roboto, Oxygen,
    Ubuntu, Cantarell, Fira Sans, Droid Sans, Helvetica Neue, sans-serif;
}

a {
  color: inherit;
  text-decoration: none;
}

* {
  box-sizing: border-box;
}

h1 {
  color: var(--text-primary-color);
}

h2, h3 {
  color: var(--text-secondary-color);
}

:root {
  --primary-color: #181F29;
  --secondary-color: #0070f3;
  --background-primary: #181F29;
  --background-primary-contrast: #29303A;
  --background-secondary-contrast: #111820;
  --text-primary-color: #FFFFFF;
  --text-secondary-color: #F5F8FF;
  --link-color: #0070f3;
}