.albumsContainer {
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  grid-column-gap: 10px;
  grid-row-gap: 20px;
  width: 100%;
  margin: 0;
  padding: 10px;
  justify-content: center;
}

.albumContainer {
  list-style: none;
  display: flex;
  justify-content: center;
}